@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshi: 'Satoshi', sans-serif;
}
