@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/satoshi/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial/ARIALBD.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --font-arial: "Arial", sans-serif;

  --breakpoint-tablet: 920px;
  --breakpoint-desktop: 1440px;

  --color-primary: #12b76a;
  --color-primary-color: #181d27;
  --color-secondary-color: #414651;
}

@layer base {
  * {
    @apply font-satoshi text-primary-color;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .nav-link {
    @apply text-primary-color hover:text-secondary-color px-2 py-1 text-xl font-medium;
  }

  .benefitContainer {
    @apply tablet:flex tablet:h-[586px] mx-auto max-w-[1264px] rounded-[20px] bg-white;
  }

  .benefitTextContainer {
    @apply tablet:justify-center tablet:max-w-[404px] desktop:max-w-[508px] mx-auto flex w-full flex-col px-8 py-10;
  }

  .benefitImageContainer {
    @apply tablet:rounded-l-none tablet:rounded-t-[20px] flex w-full items-center justify-start overflow-hidden rounded-[20px] rounded-t-none p-8;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
